# Ignore mdbook output
book/

# Ignore Gemini temporary files
.gemini/

# Ignore Zone.Identifier files
*:Zone.Identifier

# Ignore DDMA scratch & temporary build folders
ddma/scratch/
ddma/build_temp/
ddma/**/__pycache__/